.imageContainer {
  text-align: center;
  .logo {
    max-width: 500px;
    @media only screen and (max-width: 500px) {
      max-width: 90%;
      height: auto;
    }
  }
}

.viewNominations {
  display: block;
  text-align: center;
  div {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  button {
    margin: 5px 0 10px 0;
    padding: 10px;
    background-color: rgb(229, 255, 204);
    border: none;
    box-shadow: 1px 1px 3px 3px #96c045;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      background-color: #96c045;
      color: white;
      box-shadow: none;
    }
    .arrowDown {
      animation: bounce 2s infinite;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-3px);
        }
        60% {
          transform: translateY(-3px);
        }
      }
    }
  }
}
