.pageNumberList {
  display: flex;
  // align-items: center;
  // justify-content: center;
  max-width: 500px;
  flex-wrap: wrap;
  margin: 0 auto 20px auto;
  .active {
    color: black;
    font-weight: bold;
  }
  .pageNumber {
    color: grey;
    margin: 5px;
    cursor: pointer;
  }
}
