.pageNumberList {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  margin: 0 auto 50px auto;
  .active {
    color: black;
    font-weight: bold;
  }
  .pageNumber {
    color: grey;
    margin: 1px;
    cursor: pointer;
    padding: 4px;
    user-select: none;
    &:hover {
      background-color: rgb(189, 189, 189);
      color: white;
      border-radius: 10px;
    }
  }
}
