.allNominations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px 0 15px;
  margin: 0 15px 0 15px;
}

@media only screen and (max-width: 750px) {
  .allNominations {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 530px) {
  .allNominations {
    margin: 0;
  }
}

.allNominations .nomination {
  position: relative;
  text-align: center;
  margin: 5px;
  border: none;
  width: 200px;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 3px 3px #96c045;
          box-shadow: 1px 1px 3px 3px #96c045;
  background-color: #e5ffcc;
}

@media only screen and (max-width: 750px) {
  .allNominations .nomination {
    width: 150px;
  }
}

@media only screen and (max-width: 530px) {
  .allNominations .nomination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 5px 0 5px 0;
  }
}

.allNominations .nomination .posterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 185px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 530px) {
  .allNominations .nomination .posterContainer {
    margin: 0;
  }
}

.allNominations .nomination .posterContainer .nominationPoster {
  width: 125px;
  height: auto;
  border: 5px outset #96c045;
}

@media only screen and (max-width: 530px) {
  .allNominations .nomination .posterContainer .nominationPoster {
    margin: auto 0 auto 0;
  }
}

.allNominations .nomination .nominationTitle {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

@media only screen and (max-width: 530px) {
  .allNominations .nomination .nominationTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
  }
}

.allNominations .nomination .deleteButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.allNominations .nomination .deleteButton:hover {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=Nominations.css.map */