.allNominations {
  display: flex;
  justify-content: center;
  padding: 0 15px 0 15px;
  @media only screen and (max-width: 750px) {
    flex-wrap: wrap;
  }
  .nomination {
    position: relative;
    text-align: center;
    margin: 5px;
    border: none;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 3px 3px #96c045;
    background-color: rgb(229, 255, 204);
    @media only screen and (max-width: 750px) {
      width: 150px;
    }
    .posterContainer {
      display: flex;
      height: 185px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .nominationPoster {
        width: 125px;
        height: auto;
        border: 5px outset #96c045;
      }
    }
    .nominationTitle {
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
      margin: 5px 0 5px 0;
    }
    .deleteButton {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      background: none;
      border: none;
      transition: transform 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }
}
