.searchResults {
  padding: 15px;
  .searchResult {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    margin: 10px auto 10px auto;
    max-width: 500px;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px #dee7ef;
    .resultPoster {
      width: 125px;
      height: 100%;
      border: 5px ridge rgb(216, 216, 216);
      margin: auto 10px auto 0px;
    }
    .resultContent {
      width: 100%;
      .Collapsible {
        margin-bottom: 10px;
        &:hover {
          cursor: pointer;
        }
        .Collapsible__trigger {
          display: block;
          background-color: rgb(209, 209, 209);
          color: rgb(54, 54, 54);
          padding: 5px 0 5px 10px;
          font-weight: bold;
        }
        .Collapsible__contentOuter {
          border: 1px solid rgb(209, 209, 209);
          background-color: rgb(241, 241, 241);
        }
      }
      .plot {
        color: rgb(54, 54, 54);
        font-style: italic;
        padding: 5px;
      }
      .nominateButton,
      .nominateButtonDisabled {
        border: none;
        background: none;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: large;
      }
      .nominateButton {
        color: rgb(54, 54, 54);
        &:hover {
          cursor: pointer;
          color: goldenrod;
        }
      }
    }
  }
}
